<div class="container" id="center-container">
  <div class="card" id="center-card">
    <div class="card-header"><%= profile.username %></div>
    <div class="card-body">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th scope="row">Gebruikersnaam</th>
            <td><%= profile.username %></td>
          </tr>
          <tr>
            <th scope="row">Lid sinds</th>
            <td><%= profile.created_at %></td>
          </tr>
          <tr>
            <th scope="row">Posts</th>
            <td><%= count.posts %> </td>
          </tr>
          <tr>
            <th scope="row">Comments</th>
            <td><%= count.comments %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
